.layout {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    min-height: 100vh;
}

.layout__content {
    grid-column: 1 / 11;
    grid-row: 1 / 12;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.footer {
    grid-column: 1 / 11;
    grid-row: 12 / 13;
}

.sidebar {
    grid-column: 11 / 13;
    grid-row: 1 / 13;

}