@import "../../index.scss";

.placeorder {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 20px;
    margin-top: 30px;
    padding-left: 30px;


    .placeorder__card {
        border: 1px solid lightgray;
        border-radius: 10px;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    }

    .placeorder__tablenumber {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        grid-column: 1/4;
        grid-row: 1/3;

        h1 {
            text-align: center;
            font-size: 2rem;
        }

        h2 {
            font-size: 1.5rem;
        }

    }

    .placeorder__tablebuttons {
        grid-column: 1/4;
        grid-row: 3/13;

    }

    .placeorder__tableproducts {
        grid-column: 4/10;
        grid-row: 1/10;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        column-gap: 20px;
        padding: 20px;


        .placeorder__tableproductsCard {
            width: 120px;
            height: 120px;
            border: 1px solid ligh;
            border-radius: 10px;
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            h2 {
                text-align: center;
            }

            &:active {
                transform: scale(0.95);
            }
        }




    }

    .placeorder__tableproductdetails {
        grid-column: 4/10;
        grid-row: 10/13;
    }

    .placeorder__tableorders {
        grid-column: 10/13;
        grid-row: 1/9;

    }

    .placeorder__tablepayment {
        grid-column: 10/13;
        grid-row: 9/13;

    }
}