@import "../../index.scss";

.admin {
    text-align: center;

    img {
        width: 500px;
        height: 500px;
    }

    h1 {
        font-size: 5rem;
        color: $dark;
    }

    h2 {
        font-size: 3rem;
        color: $dark;
    }

}